@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.quiz-container {
    display: grid;
    place-content: center;
    background-color: blue;
    width: 100%;
    height: 100vh;
}

.first-quiz-container {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    max-height: 90vh;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 25px 60px -12px rgba(0, 0, 0, 0.25);
    display: grid;
    white-space: normal;
    overflow: hidden;
}

.heading {
    display: flex;
    border-bottom: 2px solid;
    text-align: center;
    gap: 50px;
    font-size: 30px;
    font-weight: 600;
}

.title {
    margin-left: 70px;
}

.question-container {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;

}

.answers {
    display: grid;
    gap: 10px;
}

.btn {
    width: 100%;
    height: 8vh;
    text-align: start;
    padding-left: 20px;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 1px;
    transition: background-color .2s ease-in-out;
}

.hover:hover {
    background-color: black;
    color: #fff;
    border-color: #ccc;
    cursor: pointer;
}


.next {
    margin-top: 30px;
    text-align: center;
    background-color: black;
    color: #fff;
    letter-spacing: 3px;
    width: 100%;
    height: 8vh;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.next:hover {
    background-color: rgb(44, 41, 41);
    cursor: pointer;
}

.wrong {
    background-color: palevioletred;
}

.correct {
    background-color: greenyellow;
}


@media screen and (max-width: 460px) {
    .first-quiz-container {
        width: 95%;
        margin-left: 10px;
    }
}