@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.first-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.img-container {
  width: 100%;
  height: 100%;
  position: relative;
  animation: moveImageFromLeftToRight 3s 0.1s 1 forwards;
  opacity: 0;
}

img {
  width: 53vw;
  height: 100vh;
}

.web-title {
  position: absolute;
  top: 40px;
  left: 35px;
  font-size: 40px;
  /* color: rgb(67 56 202); */
  font-weight: bold;
  letter-spacing: 2px;
}

.homepage-container {
  background-color: rgb(219 234 254);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  animation: moveLoginFromLeftToRight 3s 0.1s 1 forwards;
}

.container {
  background-color: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 25px 60px -12px rgba(0, 0, 0, 0.25);
  width: 400px;
  max-width: 100%;
  height: 60vh;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000; /* Cursor effect */
  animation: typing 2s 3s steps(20) forwards, cursorDisappear 0.5s 5s forwards;
  font-size: 24px;
  position: relative;
  opacity: 0;
}

.welcome {
  font-size: 27px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
  display: inline-block;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

.extra {
  color: rgb(67 56 202);
}

.start-container {
  display: grid;
  opacity: 0;
  animation: moveBanner 1s 5.2s forwards;
}

.text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0.8rem 0.9rem rgba(0, 0, 0, 0.4);
  color: rgb(67 56 202);
}

.another-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
}

input {
  height: 10vh;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  justify-self: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 5px;
  border: 1px solid black;
  border-bottom-width: 4px;
  outline: none;
  margin-top: 10px;
}

input:focus {
  border-bottom-color: rgb(67 56 202);
}

.error {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(225 29 72);
  font-weight: bold;
  display: none;
}
.adjust {
  height: 65vh;
}
.start-quiz {
  height: 10vh;
  background-color: rgb(79 70 229);
  border: none;
  font-size: 15px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  transition: transform 1s ease-in-out;
  width: 55%;
  justify-self: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.start-quiz:hover {
  background-color: rgb(67 56 202);
  cursor: pointer;
}

.fa-solid .fa-rocket {
  margin-left: 10px;
}

@keyframes moveImageFromLeftToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateZ(0%);
    opacity: 1;
  }
}

@keyframes moveLoginFromLeftToRight {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateZ(0%);
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes cursorDisappear {
  to {
    border-right: none;
  }
}

@keyframes moveBanner {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
